.movie-slider {
	background-color: #000;
}
h4 {
	color: #fff;
	padding: 8px;
}
.movies {
	display: flex;
	justify-content: space-around;
}
.movie {
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
.movie-img {
	width: 250px;
	height: 200px;
	transition: width 0.3s;
	transition-timing-function: cubic-bezier(1, 1);
	border-radius: 10px;
	object-fit: cover;
}
.movie-img:hover {
	width: 350px;
}
